html,
body {
  padding: 0;
  margin: 0;
  padding-top: 30px;
  font-family: Arial, sans-serif;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 5px;
  background: #2196F3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: #FFF;
  z-index: 3000;
}
header h1 {
  margin: 0;
  font-size: 26px;
  display: inline;
}
header #MenuButton {
  margin-right: 10px;
  /*display: none;*/
  position: absolute;
  left: 0;
  will-change: transform;
  transition: transform 0.33s cubic-bezier(0, 0, 0.3, 1);
  transform: translateX(-102%);
}
@media (max-width: 768px) {
  header #MenuButton {
    transform: none;
    position: relative;
  }
}
header .button {
  border: 1px #1d80cf solid;
  border-radius: 5px;
  padding: 5px;
  margin-top: -2px;
}
header .button:hover {
  background: #1d80cf;
}
.page {
  display: table;
  margin-top: -20px;
  width: 100%;
}
#Block {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  will-change: opacity;
  transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
  opacity: 0;
  display: none;
}
#Block.show {
  display: block;
  opacity: 1;
}
#SideBar {
  width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: table-cell;
  padding: 10px;
  background: #FFF;
  z-index: 2000;
  transition: transform 0.33s cubic-bezier(0, 0, 0.3, 1);
}
#SideBar.show {
  transform: none;
}
@media (max-width: 768px) {
  #SideBar {
    position: absolute;
    left: 0;
    transform: translateX(-102%);
  }
}
section {
  display: table-cell;
  padding: 10px;
}
footer {
  box-shadow: 1px -2px 6px rgba(0, 0, 0, 0.4);
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 30px;
  display: table-row table-cell;
  padding: 10px;
}
#LoginForm {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  margin-bottom: 20px;
}
#LoginForm input {
  /*display: inline;*/
  border: 1px #808080 solid;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 2px;
  padding: 5px;
}
#LoginForm button {
  background: #23bc1c;
  border-radius: 8px;
  border: 0;
  color: #FFF;
  padding: 5px;
  width: 100%;
}
#LoginForm button:disabled {
  background: #b3b3b3;
}